.weekly-specials {
  font-family: 'Open Sans', sans-serif;
  color: #797979;
  background-color: #F9F9F9;
  font-size: 12px;
  height: 45vh;
}

.weekly-title {
  margin-top: 20px;
  padding: 10px 0;
}

h4 {
  font-weight: lighter;
}

.special-panels {
  display: flex;
  width: 100vw;
  height: 35vh;
  padding: 0px 25px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.special {
  width: 22%;
  background-color: white;
  border: 0.5px solid #E2E4E0;
}

.special-image {
  width: 90%;
  margin: 0 auto;
  padding-top: 10px;
}

.image-square {
  width: 100%;
  height: 170px;
}

.see-more {
  font-size: 10px;
  padding: 10px 20px;
  margin-bottom: 5px;
  background: white;
  color: #304F86;
  border: 1px solid #304F86;
}

.product-title {
  margin-top: 10px;
  margin-bottom: 5px;
}

.price {
  color: #304F86;
  font-weight: 700;
  margin-bottom: 5px;
}

@media screen and (orientation: portrait) and (max-width: 1440px) {
  .weekly-specials {
    justify-content: center;
  }

  .special-panels {
    margin: 0 auto;
    padding: 0;
    height: 32vh;
  }
}

@media screen and (max-width: 1300px) {
  .weekly-specials {
    justify-content: center;
  }

  .special-panels {
    margin: 0 auto;
    padding: 0;
  }
}

@media screen and (orientation: landscape) and (max-width: 1200px) {
  .weekly-specials {
    justify-content: space-between;
  }

  .special-panels {
    width: 100%;
  }

  .special {
    margin-top: 10px;
  }
}

@media screen and (orientation: portrait) and (max-width: 1200px) {
  .weekly-specials {
    justify-content: space-between;
    height: 40vh;
  }

  .special-panels {
    width: 100%;
  }

  .special {
    margin-top: 10px;
  }
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
  .weekly-specials {
    justify-content: space-between;
    height: 40vh;
  }

  .special-panels {
    width: 100%;
    height: 70%;
  }

  .special {
    margin-top: 10px;
  }
}

@media screen and (max-width: 900px) {
  .weekly-specials {
    justify-content: space-between;
    height: 80vh;
  }

  .special-panels {
    width: 100%;
  }

  .special {
    width: 40%;
    margin-top: 10px;
  }
  .special-image {
    width: 190px;
    height: 190px;
  }
}

@media screen and (orientation: landscape) and (max-width: 768px) {
  .weekly-specials {
    height: 200vh;
  }
  .special-panels {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .special {
    width: 90%;
  }
}

@media screen and (orientation: portrait) and (max-width: 769px) {
  .weekly-specials {
    height: 150vh;
  }
  .special-panels {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .special {
    width: 90%;
  }
}

@media screen and (orientation: portrait) and (max-width: 415px) {
  .weekly-specials {
    height: 195vh;
  }
  .special-panels {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .special {
    width: 90%;
  }
}


@media screen and (orientation: portrait) and (max-width: 360px) {
  .weekly-specials {
    height: 230vh;
  }
  .special-panels {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .special {
    width: 90%;
  }
}

@media screen and (orientation: portrait) and (max-width: 325px) {
  .weekly-specials {
    height: 225vh;
  }
  .special-panels {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .special {
    width: 90%;
  }
}
