.App {
  text-align: center;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  padding-bottom: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.info-btn {
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  font-weight: 100;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
}

.footer {
  padding: 0px 15px;
  position: relative;
  bottom:0;
  font-size: 8px;
}

#trademark {
  text-align: left;
}

#cards {
  text-align: right;
}

.main-header {
  color: #304F86;
  font-weight: lighter;
}

.sub-header {
  color: #304F86;
  font-weight: 700;
}

@media screen and (max-width: 416px) {
  .footer {
    font-size: 6px;
  }
}
