#main-carousel {
  width: 100vw;
  height: 50vh;
}

img {
  max-height: 50vh;
  width: 100vw;
}

li {
  min-height: 10px;
  max-width: 10px !important;
  border-radius: 5px;
}

.view-more {
  padding: 9px 25px;
  background: #304F86;
  border: 1px solid #656565;
}

@media screen and (max-width: 1160px) {
  .carousel-caption {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 680px) {
}
