.collection {
  font-family: 'Nunito', sans-serif;
  color: #797979;
  background-color: white;
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: space-between;
}

.collection-left {
  text-align: left;
}

.collection-right {
  background-image: url(./images/rings-in-heart.jpeg);
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .collection {
    flex-direction: column;
    height: 60vh;
  }
  .collection-left, .collection-right {
    width: 100%;
  }
}
