.app-header {
  /* display: flex; */
}

.topmost-nav {
  background-color: #F9F9F9;
  color: #797979;
  border-bottom: 1px solid #e6e6e6;
  font-size: 10px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 10px 35px;
  line-height: 1.2px;
}

.menu {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}

.app-title {
  color: #D5AB9A;
  text-align: left;
}

.links {
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
}

.link {
  padding: 26px 15px 0px 15px;
  font-size: 12px;
}

.link-btn {
  border-left: 1px solid #e6e6e6;
}

.fa-search {
  color: #D5AB9A;
  padding: 0px 10px;
}

.fa-user, .fa-shopping-cart {
  padding-right: 5px;
}

@media screen and (max-width: 1460px) {
  .topmost-nav {
    padding: 10px 35px;
    width: 100vw;
    line-height: 12px;
  }
  .top-bar-middle {
    display: inline-block;
  }
}

@media screen and (max-width: 800px) {
  .topmost-nav {
    padding: 15px 35px 15px 35px;
    width: 100vw;
    line-height: 15px;
  }
  .top-bar-middle {
    display: inline-block;
  }
  .links {
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
  }
}

@media screen and (max-width: 680px) {
  .topmost-nav {
    flex-direction: column;
    justify-content: stretch;
    font-size: 8px;
  }
  .app-title {
    text-align: center;
  }
  .top-bar-middle {
    display: unset;
  }
  .menu {
    justify-content: stretch;
    flex-direction: column;
  }
  .links {
    flex-direction: column;
    align-content: stretch;
  }
  .link {
    padding: 0;
    border-bottom: 1px solid #e6e6e6;
  }
}
